<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class="title">@ViewBag.ThisEvent.Host</h1>
    <h2>Date: @ViewBag.ThisEvent.Date.ToString("MMMM dd, yyy")</h2>
    <h3>Who's interested:</h3>
    <ul>
        @foreach (var like in ViewBag.ThisEvent.Likes)
        {
            <li>@like.User.firstname @like.User.lastname</li>
        }
    </ul>
    <h3>Where: @ViewBag.ThisEvent.Location</h3>
    <h3>Whats the occasion? @ViewBag.ThisEvent.Reason</h3>

        <button class="btn btn-info"> <a href="logout">Logout</a></button>
        <button class="btn btn-info"> <a href="/dashboard">Back to Dashboard</a></button>
</body>
</html>