<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Wedding for @ViewBag.ThisWedding.WedderOne and @ViewBag.ThisWedding.WedderTwo</h2>

<a href="/weddings">Not interested in this wedding? Go to dashboard.</a> 

<h3>Date: @ViewBag.ThisWedding.Date</h3>

<h4>Guests: </h4>

<ul>
    @foreach (var guest in @ViewBag.ThisWedding.RSVPS)
    {
    <li>@guest.User.firstname  @guest.User.lastname</li>

    }

</ul>
    
</body>
</html>