<h1>@ViewBag.Trail.Name</h1>
<h3>Description</h3>
<p>@ViewBag.Trail.Description</p>
<h3>Trail Length</h3><p>@ViewBag.Trail.Length miles</p>
<h3>Elevation</h3><p>@ViewBag.Trail.Elevation feet</p>
<h3>Longitude</h3><p>@ViewBag.Trail.Longitude</p>
<h3>Latitude</h3><p>@ViewBag.Trail.Latitude</p>

<a href="/"> Back to trails</a>